.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0px !important;
  background: linear-gradient(180deg, #ffffff 9.19%, #c5efff 183.37%);
}
.code {
  margin: 0 0 0.75rem;
  font-size: clamp(3.5rem, 7vw, 6rem);
  font-weight: 700;
  line-height: 1;
  color: #0a37b5;
}

.containerImage {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  width: 854px;
  height: 424px;
  object-fit: contain;
}

.title {
  margin: 2rem 0 0.5rem;
  font-size: 40px;
  font-weight: 800;
  color: #191e3a;
  font-family: sans-serif;
}

.subtitle {
  max-width: 527px;
  font-size: 18px;
  line-height: 1.5;
  color: #b6c6e3;
  font-family: sans-serif;
}

/* Button styles */
.btn {
  display: inline-block;
  background-color: #2563eb;
  color: white;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 32px;
  margin-top: 1.5rem;
  font-family: sans-serif;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn:hover {
  background-color: #0a37b5;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.btn:focus {
  outline: none;
  box-shadow: 0 0 0 4px rgba(37, 99, 235, 0.5);
}

/* Responsive media queries */
@media (max-width: 1440px) {
  .container {
    min-height: 812px;
  }
  .image {
    width: 90%;
    height: 424px;
  }
}
@media (max-width: 1024px) {
  .container {
    min-height: 812px;
  }
  .image {
    width: 90%;
    height: 424px;
  }
}

@media (max-width: 768px) {
  .container {
    min-height: 812px;
  }
  .image {
    width: 100%;
    height: 424px;
  }

  .btn {
    font-size: 0.95rem;
    padding: 8px 18px;
  }
}

@media (max-width: 480px) {
  .container {
    min-height: 812px;
  }
  .image {
    width: 100%;
    height: auto;
  }

  .title {
    margin: 2rem 0 0.5rem;
    font-size: 32px;
  }

  .subtitle {
    max-width: 527px;
    font-size: 14px;
  }

  .btn {
    font-size: 0.9rem;
    padding: 8px 16px;
  }
}
